# Dependencias
node_modules/

# Archivos de construcción (lo que Vercel hace por ti)
dist/
build/

# Variables de entorno (¡La seguridad!)
.env
.env.*
!.env.example

# Archivos del editor
.vscode/
.DS_Store
